*{
    font-family: sans-serif, serif, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 110%;
    background-color: #B1D8B7;
    color: #2F5233;
}

button{
    background-color: 
    #2F5233;
    color: #B1D8B7;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.5%;
    font-size: 150%;
    width: 50%;
    height: 10%;
    border-color: #76B947;
    border-width: medium;
}

header{
    display: flex;
    justify-content: space-between;
}

.header button{
    border: none;
    background-color: #B1D8B7;
    color: #2F5233;
    text-decoration: underline;
    font-size: 110%;
    width: auto;
}


.quiz{
    color: #2F5233;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-size: 160%;
}

.container p{
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}

.question button{
    width: 25%;
    border-color: #94C973;
    border-width: 5px;
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.question h2{
    font-size: 160%;
}
